


<div class="container">
    <h1>Galleries</h1>
	<div class='row'>

           	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-ss-12 padbot30">
                	<div class="btn btn-default">
                	    <!--this is the display image. it needs a lightbox image under it to trigger the gallery ( i dont know why) -->
                	   <%= image_tag("group-1-4.jpg", class:"img-responsive") %>
                    	<a href="/assets/group-1-5.jpg" class:"img-responsive" data-lightbox="PR" rel="lightbox">
                    	<div class="circle">Press/PR</div></a>
                    </div>
                    <!-- this is the image gallery for the lightbox effect. data-lightbox assigns the images to a specific gallery-->
            					<a href="/assets/group-1-5.jpg" data-lightbox="PRo" rel="lightbox">
                				<a href="/assets/group-1-6.jpg" data-lightbox="PRo" rel="lightbox">
                            	<a href="/assets/group-1-7.jpg" data-lightbox="PRo" rel="lightbox">
                            	<a href="/assets/group-1-4.jpg" data-lightbox="PRo" rel="lightbox">
        	</div>

           	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-ss-12 padbot30">
                	<div class="btn btn-default">
                	    <!--this is the display image. it needs a lightbox image under it to trigger the gallery ( i dont know why) -->
                	   <%= image_tag("group-1-4.jpg", class:"img-responsive") %>
                    	<a href="/assets/group-1-7.jpg" class:"img-responsive" data-lightbox="PR" rel="lightbox">
                    	<div class="circle">Press/PR</div></a>
                    </div>
                    <!-- this is the image gallery for the lightbox effect. data-lightbox assigns the images to a specific gallery-->
            					<a href="/assets/group-1-5.jpg" data-lightbox="PR" rel="lightbox">
                				<a href="/assets/group-1-6.jpg" data-lightbox="PR" rel="lightbox">
                            	<a href="/assets/group-1-7.jpg" data-lightbox="PR" rel="lightbox">
                            	<a href="/assets/group-1-4.jpg" data-lightbox="PR" rel="lightbox">
        	</div>
                	
     	
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-ss-12 padbot30">
                	<div class="btn btn-default">
                	    <!--this is the display image. it needs a lightbox image under it to trigger the gallery ( i dont know why) -->
                	   <%= image_tag("group-1-4.jpg", class:"img-responsive") %>
                    	<a href="/assets/group-1-6.jpg" class:"img-responsive" data-lightbox="PqR" rel="lightbox">
                    	<div class="circle">Press/PR</div></a>
                    </div>
                    <!-- this is the image gallery for the lightbox effect. data-lightbox assigns the images to a specific gallery-->
            					<a href="/assets/group-1-5.jpg" data-lightbox="PqR" rel="lightbox">
                				<a href="/assets/group-1-6.jpg" data-lightbox="PqR" rel="lightbox">
                            	<a href="/assets/group-1-7.jpg" data-lightbox="PqR" rel="lightbox">
                            	<a href="/assets/group-1-4.jpg" data-lightbox="PqR" rel="lightbox">
        	</div>
        	<br>
      
	</div>
	 </div>
	 

					
					
				
	

			
